{{> Navbar}}
<div class="row">
    {{#each helados}}
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="{{ imagen }}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{ descripcion }}</p>
                <p class="card-text">{{ precio }}</p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/producto/{{ id_producto }}" class="btn btn-danger">Eliminar</a>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{ id_producto }}">
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>