{{> Navbar}}
<h1>{{ id_usuario }}</h1>
<div class="row">
    {{#each helados}}
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="{{ imagen }}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{ descripcion }}</p>
                <p class="card-text">{{ precio }}</p>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/pedido/{{ id_producto }}/{{ id_usuario }}" class="btn btn-primary">Pedir Helado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>