{{> Sidebar}}
<div style="margin-left: 20%">
    <h1>USUARIOS</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
                {{#if id_rol '==' 1}}
                    <tr style="background: #123456;">
                        <td>{{ nombre }}</td>
                        <td>{{ apellido }}</td>
                        <td>{{ correo }}</td>
                        <td>
                            <a href="/usuario/{{ id_usuario }}" class="btn btn-danger">Eliminar</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ id_usuario }}">
                                Modificar
                            </button>
                        </td>
                    </tr>
                {{/if}}
                {{#if id_rol '==' 2}}
                    <tr style="background: #777777;">
                        <td>{{ nombre }}</td>
                        <td>{{ apellido }}</td>
                        <td>{{ correo }}</td>
                        <td>
                            <a href="/usuario/{{ id_usuario }}" class="btn btn-danger">Eliminar</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ id_usuario }}">
                                Modificar
                            </button>
                        </td>
                    </tr>
                {{/if}}

                <div class="modal fade" id="exampleModal{{ id_usuario }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/usuario/{{ id_usuario }}" method="post">
                                <div class="form-group">
                                    <label>ID: </label>
                                    <input name="id" type="text" value="{{ id_usuario }}" class="form-control" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Nombre: </label>
                                    <input name="nombre" type="text" value="{{ nombre }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Apellido: </label>
                                    <input name="apellido" type="text" value="{{ apellido }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Correo: </label>
                                    <input name="correo" type="text" value="{{ correo }}" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                    </div>

            {{/each}}
            

        </tbody>
    </table>

    {{#each usuarios}}
    <h1>{{ nombre }}</h1>

    {{#if id_rol '==' 1}} <h1>Admin</h1> {{/if}}
    {{#if id_rol '==' 2}} <h1>Usuario</h1> {{/if}}

    {{/each}}

</div>